<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <style>
        .container {
            text-align: center;
        }
        .blocco {
            width: 200px;
            height: 120px;
            display: inline-block;
            background: orange;
            padding-top: 70px;
        }
        .imgCantante {
            width: 70px;
            height: 70px;
        }
        .blocco_arancione {
            background-color: orange;
            color: #000;
            width: 100px;
            display: inline-block;
            padding: 20px;
            font-size: 20px;
            border-radius: 20px;
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <span>
            <a href="/home">
                <img style="height: 100px;" src="/images/logo.png">
            </a>
        </span>

        <span style="float: right;">
            <img style="height: 50px;" src="/images/logout.png">
        </span>

    </div>
    <div class="container">
        <div>
            <div class="blocco_arancione">
                <p>Cantanti</br>Totale</p>
                <%= cantantiTot %>
            </div>
            <div class="blocco_arancione">
                <p>Cantanti</br>Femmine</p>
                <%= cantantiF %>
            </div>
            <div class="blocco_arancione">
                <p>Media</br>Like</p>
                <%= mediaLike %>
            </div>
        </div>
        <div>
            <div class="blocco_arancione">
                <p>Canzone</br>con più Like</p>
                <%= titoloLikeMaggiore %>
            </div>
            <div class="blocco_arancione">
                <p>Canzoni</br>od</p>
                <%= canzoniOD %>
            </div>
        </div>
    </div>
</body>
</html>